<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
      <mat-toolbar>Menú</mat-toolbar>
      <mat-nav-list>
        <mat-list-item>
          <button mat-button>
            <mat-icon>home</mat-icon>
            Inicio
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button>
            <mat-icon>store</mat-icon>
            Productos
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button>
            <mat-icon>contact_mail</mat-icon>
            Contacto
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <!-- Aquí irá tu contenido principal -->
      <mat-toolbar color="primary">
        <button mat-icon-button aria-label="Abrir el menú"><!-- (click)="sidenav.toggle()" -->
          <mat-icon>menu</mat-icon>
        </button>
        <span>Espacio Kawaii</span>
      </mat-toolbar>
  
      <div class="content">
        <!-- Tu contenido principal aquí -->
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  